/* Universal Styling */

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	/* Text colors */
	--clr-pale-violet: hsl(276, 100%, 81%); /* sub-heading at app UI top */
	--clr-moderate-violet: hsl(276, 55%, 52%); /* chat on left */
	--clr-desaturated-dark-violet: hsl(271, 15%, 43%); /* chat on right */
	--clr-grayish-blue: hsl(206, 6%, 79%); /* Placeholder text */
	--clr-vDark-desaturated-violet: hsl(
		271,
		36%,
		24%
	); /* Main heading */ /* Submit btn bg */
	--clr-dark-grayish-violet: hsl(270, 7%, 64%); /* paragraph */

	/* Gradient colors */
	--clr-light-magenta: hsl(293, 100%, 63%);
	--clr-light-violet: hsl(264, 100%, 61%);

	/* Secondary colors */
	--clr-white: hsl(0, 0%, 100%);
	--clr-light-grayish-violet: hsl(270, 20%, 96%); /* App bg */
	--clr-vLight-magenta: hsl(289, 100%, 72%); /* Radio btn outline */
}

/* General Styling */

html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "Rubik", sans-serif;
	overflow: hidden;
}

/*Bg Images */
/* Top left image */

.top-leftImg {
	background: linear-gradient(
		to bottom left,
		var(--clr-light-magenta) -30%,
		var(--clr-light-violet) 80%
	);
	border-radius: 0 0 50% 50%;
	width: 100vw;
	height: 55vh;
	position: absolute;
	top: 0;
	left: -50%;
}

/* Bottom right image */

.bottom-rightImg {
	background: var(--clr-light-grayish-violet);
	border-radius: 50% 50% 0 0;
	width: 100vw;
	height: 55vh;
	position: absolute;
	bottom: 0;
	right: -50%;
	opacity: 30%;
}
@media screen and (min-width: 650px) {
	.top-leftImg {
		width: 80vw;
		left: -30%;
	}
	.bottom-rightImg {
		width: 80vw;
		right: -30%;
	}
}
@media screen and (min-width: 860px) {
	.top-leftImg {
		width: 55vw;
		height: 90vh;
		left: -15%;
	}
	.bottom-rightImg {
		width: 55vw;
		height: 90vh;
		right: -23%;
	}
}

/* Info block */

.info-block {
	text-align: center;
}
.info-block h1 {
	color: var(--clr-vDark-desaturated-violet);
	margin: 1.5rem 0;
}
.info-block p {
	color: var(--clr-dark-grayish-violet);
	max-width: 30ch;
	margin: 0 auto;
	line-height: 2.5rem;
}
@media screen and (min-width: 860px) {
	.info-block {
		text-align: left;
	}
	.info-block p {
		margin: 0;
		max-width: 45ch;
	}
}
